* {
    outline: solid;
    outline-color: black;
    outline-width: 1px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cener;
}

header {
    display: flex;
    justify-content: space-beween;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.section2 {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-clor: grey;
    padding: 16px;
}


.section4 {
    display: flex;
    justify-content: space-between;
    margin: 24px;
    padding: 8px;
    background-colr: blue;
}

footer {
    display: flex;
    justify-content: center;
    background-coor: navy;
}
