 {
    outline: solid;
    outline-color: black;
    outline-width: 1px;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    margin: 0px;
}

header {
    display: flex;
    background-color: #1F2937;
    color:  #F9FAF8;
    font-weight: bolder;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 84px;
    gap: 56px;
}

ul {
    display: inline-flex;
    justify-self: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 18px;
    font-size: 18px;
    font-weight: lighter;
}

ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 24px 84px 64px 84px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.section1a {
    display: flex;
    flex-direction: column;
}

.imageplaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    min-width: 50%;
    height: auto;
    background-color: #E5E7EB;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
}

h3 {
    font-size: 24px;
    font-weight: bolder;
}

.section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.imagebox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 18px 12px;
    width: 100%;
}

.img2a, .img2b, .img2c, .img2d {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 12px;
    flex: 1 1 22%;
}

.img2a p, .img2b p, .img2c p, .img2d p {
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
    padding: 24px 224px;
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
}


.section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 124px; 
    padding: 32px 72px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    height: 28px;
    width: 84px;
    border-radius: 10px;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}
